.pagination-box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.pagination {
    display: flex;
    padding-left: 0;
    list-style: none;
    border-radius: .375rem;
}
.page-link {
    line-height: 1.25;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -1px;
    padding: .5rem .75rem;
    color: #8898aa;
    border: 1px solid #dee2e6;
    background-color: #fff;
}
.page-link:hover {
    z-index: 2;
    text-decoration: none;
    color: #8898aa;
    border-color: #dee2e6;
    background-color: #dee2e6;
}
.page-link:focus {
    z-index: 3;
    outline: 0;
    box-shadow: none;
}
.page-item:first-child .page-link {
    margin-left: 0;
    border-top-left-radius: .375rem;
    border-bottom-left-radius: .375rem;
    width: 90px;
}

.page-item:last-child .page-link {
    border-top-right-radius: .375rem;
    border-bottom-right-radius: .375rem;
    width: 90px;
}
.page-item.active .page-link {
    z-index: 3;
    color: #fff;
    border-color: #116ECA;
    background-color: #116ECA;
}
.page-item.disabled .page-link {
    cursor: auto;
    pointer-events: none;
    color: #8898aa;
    border-color: #dee2e6;
    background-color: #fff;
}
